[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-repeat = "*"
pytest-cov = "*"
pytest-randomly = "*"
neurokit = {editable = true,path = "."}

[packages]
numpy = "*"
scipy = "*"
mne = "*"
pyedflib = "*"
dateparser = "*"
unidecode = "*"
chardet = "*"
pywavelets = "*"
networkx = "*"
fastparquet = "*"
plotly = "*"
msgpack = "*"
numba = ">=0.48"
pandas = "==1.2.*"
h5py = "==3.2.*"
